{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{cover_export_enabled, true}.
%{erl_opts,
% [debug_info, warnings_as_errors]}.
%{plugins, [rebar_ct]}.
{clean_files, ["test/*.beam","ct_test/*.beam"]}.
{lib_dirs,["deps"]}.
{src_dirs, ["src"]}.
{erl_opts, [debug_info]}.
%%{erl_first_files, ["deps/ranch/src", "deps/cowlib/src/","deps/cowboy/src/"]}.
%%{src_dirs, ["scr","deps/cowlib/src","deps/ranch/src", "deps/cowboy/src"]}
{deps, []}.
