{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{cover_export_enabled, true}.
%{erl_opts,
 % [debug_info, warnings_as_errors]}.
%{plugins, [rebar_ct]}.
{clean_files, ["test/*.beam","ct_test/*.beam"]}.
{lib_dirs,["deps"]}.
{src_dirs, ["src"]}.
{erl_opts, [debug_info]}.
%%{erl_first_files, ["deps/ranch/src", "deps/cowlib/src/","deps/cowboy/src/"]}.
%%{src_dirs, ["scr","deps/cowlib/src","deps/ranch/src", "deps/cowboy/src"]}
{deps, [

  {meck, ".*",
    {git, "https://github.com/eproxus/meck.git", {tag, "0.8.2"}}}
]}.
%% {post_hooks, [{compile, "mkdir -p ./priv/static"},
%%   {compile, "cp -R ./deps/nitrogen_periodic/www priv/static/nitrogen"}
%% ]}.

%% == Common Test ==

%% Override the default "test" directory in which SUITEs are located
{ct_dir, "ct_test"}.

%% Override the default "logs" directory in which SUITEs are logged
{ct_log_dir, "ct_test/logs"}.

%% Option to pass extra parameters when launching Common Test
%{ct_extra_params, "-boot start_sasl -s myapp"}.

{ct_extra_params, "-boot start_sasl -pa ./ebin/ -pa ./deps/meck/ebin/ "}.


%% Option to use short names (i.e., -sname test) when starting ct
{ct_use_short_names, true}.
